// logo begin
.top-logo {
  width: 100vw;
  display: flex;
  margin-bottom: 8rpx;

  .title-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30rpx;
    color: #c10202;
    font-weight: 700;
  }

  image {
    width: 100rpx;
    height: 100rpx;
  }
}

.index-swiper {
  width: 100vw;
  height: 360rpx;

  .index-swiper-item {
    width: 100%;
    height: 100%;

    .index-swiper-navigator {
      width: 100%;
      height: 100%;

      image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// publish
.publish-support {
  width: 100vw;
  height: 170rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30rpx;

  .item-wrap {
    width: 260rpx;
    height: 140rpx;
    padding: 10rpx;
    box-sizing: border-box;
    background-color: #cd2b29;
    border-radius: 20rpx;
    display: flex;
    flex-direction: column;
    align-items: center;

    .iconfont {
      color: #ffffff;
      font-size: 50rpx;
    }

    .title {
      color: #ffffff;
      font-size: 24rpx;
    }

    .desc {
      color: #ffffff;
      font-size: 22rpx;
    }
  }
}