.publish-top {
  width: 100vw;
  display: flex;
  
  .publish-support {

  }

  .logo {
    width: 80rpx;
    height: 100rpx;

    .img {
      width: 100%;
      height: 100%;
    }

    .boimg{
      width: 100%;
      height: 20rpx;
    }
  }

  .publish-support {

  }
}